<div class="container mt-4">
    <form [formGroup]="alumnoForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre">
        <div class="text-danger" *ngIf="alumnoForm.get('nombre')?.touched && alumnoForm.get('nombre')?.invalid">
          <small *ngIf="alumnoForm.get('nombre')?.errors?.['required']">El nombre es obligatorio.</small>
          <small *ngIf="alumnoForm.get('nombre')?.errors?.['minlength']">Mínimo 3 caracteres.</small>
          <small *ngIf="alumnoForm.get('nombre')?.errors?.['contieneNumeros']">No debe contener números.</small>
        </div>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Edad</label>
        <input type="number" class="form-control" formControlName="edad">
        <div class="text-danger" *ngIf="alumnoForm.get('edad')?.touched && alumnoForm.get('edad')?.invalid">
          <small *ngIf="alumnoForm.get('edad')?.errors?.['required']">La edad es obligatoria.</small>
          <small *ngIf="alumnoForm.get('edad')?.errors?.['min']">Debes ser mayor de 18.</small>
        </div>
      </div>
  
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" formControlName="aprobado" id="aprobado">
        <label class="form-check-label" for="aprobado">¿Está aprobado?</label>
      </div>
  
      <button class="btn btn-primary" type="submit" [disabled]="alumnoForm.invalid">Agregar Alumno</button>
    </form>
  </div>
  