<table mat-table [dataSource]="alumnos">
  <ng-container matColumnDef="nombreCompleto">
    <th mat-header-cell *matHeaderCellDef [appAprobado]="true">Nombre</th>
    <td mat-cell *matCellDef="let alumno">{{ alumno | nombreApellido }}</td>
  </ng-container>

  <ng-container matColumnDef="aprobado">
    <th mat-header-cell *matHeaderCellDef>Aprobado</th>
    <td mat-cell *matCellDef="let alumno">
      <span [appAprobado]="alumno.aprobado">{{ alumno.aprobado ? 'Sí' : 'No' }}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
