<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened>
    <app-navbar></app-navbar> 
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar (toggleSidebar)="sidenav.toggle()"></app-toolbar>

    <main style="margin: 20px">
      <h2 [appAprobado]="true" style="margin-bottom: 10px">Gestión de Alumnos</h2>

      <app-alumno-form></app-alumno-form>

      <app-lista-alumnos></app-lista-alumnos>
      <app-alumno-api></app-alumno-api>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>